@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    *{
        font-family: 'IBM Plex Sans', sans-serif;
        /*font-family: 'AR One Sans', sans-serif;*/

    }
    .sidebar-icon{
        @apply relative flex items-center justify-center h-12 w-12 mt-2
        mb-2 mx-auto shadow-lg bg-gray-800 text-green-500
        hover:bg-[greydark] hover:text-white rounded-3xl
        hover:rounded-xl transition-all duration-300 ease-linear cursor-pointer;
    }
    .channel-name-container{
        @apply flex flex-col justify-center items-center text-base ;
    }
    .channelbar-container{
        @apply flex flex-col justify-start items-start text-left ;
    }

    .main-area-wrapper{
        @apply flex flex-col text-left justify-between bg-greymid text-textcolor_inactive w-full;
    }
    .message-wrapper{
        @apply flex flex-col w-full p-8  ;
    }
    .input-wrapper{
        @apply flex flex-row w-full p-5 pb-3 justify-around ;
    }
    .text-item{
        @apply py-3;
    }
    .text-channel{
        @apply cursor-pointer p-1 px-2 bg-greymid w-full box-border rounded-full m-1 hover:bg-[#111214] hover:text-white hover:scale-110;
    }
    .voice-channel{
        @apply cursor-pointer p-1 px-2 bg-greymid w-full box-border rounded-full m-1 hover:bg-[#111214] hover:text-white hover:scale-110;
    }
    .usercard{
        @apply cursor-pointer   ;
    }
    .usercard-info{
        @apply hover:text-white;
    }
}
.input-wrapper{
    height: 8%;
    min-height: 75px;
}
.usercard{
    display: flex;
    flex-direction: row;
    transition: ease-in 0.1s;
}
.image-container{
position: relative;
}
.voice-channel:hover,
.text-channel:hover{
   transition: all 0.1s ease-in-out;
}
